body {
    text-align: center;
}
h1 {
    color: greenyellow;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}
.grand-container {
    display: flex;
    flex-direction: column;
    border: 3px solid silver;
    height: 600px;
    width: 450px;
    margin: 20px auto;
    background-color: rgba(255, 255, 0, 0.412);
}
.screen {
    width: 400px;
    height: 100px;
    font-size: 30px;
    border: 1px solid black;
    border-style: double;
    margin: 20px auto;
    background-color: beige;
    
}

.reset {
    display: flex;
    justify-content: space-evenly;
    
}
.clear,
.clear-all,
.sign-change {
    width: 100px;
    padding: 10px;
    color: rgba(0, 255, 170, 0.525);
    font-weight: bold;
    font-size: 18px;
    background-color: grey;
    
}
.container {
    display: flex;
    justify-content: space-between;
    height: 400px;
    width: 380px;
    margin: 20px auto;
    padding: 20px;
    gap: 30px;
}
.numbers {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;    
}
.operators {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 16px;
    
}
.num,
.equal-to,
.decimal {
    width: 70px;
    height: 50px;
    background-color: rgba(0, 0, 255, 0.195);  
    font-size: 18px; 
    font-weight: bold;
}

.add,
.subtract,
.multiply,
.divide {
    width: 70px;
    height: 80px;
    background-color: rgba(0, 0, 255, 0.195);   
    font-size: 30px;
    font-weight: bold;
}

span {
    color: sienna;
}
button:hover {
    background-color: rgb(97, 132, 227);
    color: sandybrown;
    transform: scale(1.3);
}